<div class="post">
  <div class="header">
    <h1>Post title</h1>
    <button routerLink="/" class="btn btn-link">To the main page</button>
  </div>

  <div class="info">
    <strong>Author</strong>
    <small>20.09.22</small>
  </div>

  <div class="">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum enim id quibusdam distinctio nam commodi deserunt cum fuga nisi voluptatem?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum enim id quibusdam distinctio nam commodi deserunt cum fuga nisi voluptatem?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum enim id quibusdam distinctio nam commodi deserunt cum fuga nisi voluptatem?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum enim id quibusdam distinctio nam commodi deserunt cum fuga nisi voluptatem?</p>
  </div>

</div>
